.card {
  cursor: pointer;
  min-height: 50px;
}

.card-title {
  font-size: 20px;
  text-align: center;
}

.see-center-animals-link-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.see-center-animals-link-btn:hover {
  cursor: pointer;
}
