<div class="container-fluid">
  <app-header
    [selectedCenter]="selectedStore"
    (authenticationBtnClickEvent)="authenticationBtnClickedHandler()"
  ></app-header>
  <div id="body">
    <app-nav
      [showingBackBtn]="isBackBtnShowing"
      [backBtnUrl]="backBtnUrl"
    ></app-nav>
    <div id="body-content-wrapper">
      <h1 id="body-content-title" class="display-3">{{ bodyContentTitle }}</h1>
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-admin-tool-bar
    *ngIf="isAdminToolBarShowing"
    (addAnimalBtnClickEvent)="toggleAnimalInformationForm(true)"
    (updateAnimalBtnClickEvent)="showAnimalUpdateForm()"
  ></app-admin-tool-bar>
  <app-animal-information-form
    *ngIf="isAnimalInfoFormShowing"
    [isUpdateVersionOfForm]="updatingAnimal"
    [animalToLoad]="updatingAnimal ? selectedAnimal : null"
    (animalInfoFormCancelEvent)="toggleAnimalInformationForm(false)"
  ></app-animal-information-form>
  <app-admin-login-form
    *ngIf="isLoginFormShowing"
    (loginFormCloseBtnClickEvent)="toggleAdminLoginForm(false)"
    (forgotPasswordBtnClickEvent)="handleForgottenPassword()"
    (submitBtnClickEvent)="attemptLogin($event)"
  ></app-admin-login-form>
  <app-notification-manager></app-notification-manager>
</div>
