#store-address {
  margin-bottom: 25px;
}

.times {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.closed-msg {
  color: #f00;
}

.store-text-details-wrapper {
  position: relative;
  border-radius: 5px;
  padding: 25px;
}

.edit-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 25px;
}

.edit-btn:hover {
  color: rgb(21, 72, 212);
  cursor: pointer;
}

.edit-btn:hover .store-text-details-wrapper {
  border: 2px solid #000;
}
